<div class="header-container">
    <div class="temp-header">
        <div class="temp-header-lang-select">
        <lookup-framework-component [params]="params" [scope]="scope" ></lookup-framework-component>
        </div>
    </div>
    <div class="header-content">
        <div class="logo-container">
            <span class="title">Krida</span>
            <img src="./../../assets/images/pinclipart-tv.png">
        </div>
        <div class="nev-list-container">
            <ul>
                <li><a href="#">{{ 'header.home' | translate }}</a></li>
                <li><a href="#">Games</a></li>
                <li><a href="#">Blogs</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>
        <div class="right-container">
            <div class="search-box">
            <div #searchBoxContainer class="search-box-container" >
                <input class="search-input" type="text" name="box" placeholder="Type to search">
                <div class="search-icon-container hover-hightlight" dmIconInjector title="Search"
                [config]="{ 'icon': '#icon_search_bold', 'cssClass': 'secondary-color', 'isSVG': true }"
                (click)="onSearchClick($event);"></div>
                <div #searchCloseIcon class="search-close-icon hide" dmIconInjector
                [config]="{ 'icon': '#icon_Close', 'cssClass': 'secondary-color', 'isSVG': true }"
                (click)="onSearchCloseClick($event);"></div>
            </div>
            </div>
            <a class="sign-up-btn" href="#">
                Login
            </a>
            <div class="menu-icon-container" dmIconInjector
                [config]="{ 'icon': '#icon_menu_bold', 'cssClass': 'secondary-color', 'isSVG': true }"
                (click)="onMenuBtnClick($event);">
            </div>

            <ng-container #NavSlideContainer></ng-container>
            <ng-template #NavSlideTemplate>
                <div class="nav-link-mob-slide">
                    <div class="slide-nav-close-btn" dmIconInjector
                        [config]="{ 'icon': '#icon_Back', 'cssClass': 'secondary-color', 'isSVG': true }"
                        (click)="onNavSliderCloseClick($event);">
                    </div>
                    <ul class="link-list">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Games</a></li>
                        <li><a href="#">Blogs</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>
            </ng-template>
        </div>
    </div>
    <span class="loading-indicator"></span>
</div>