
// $primaryColor:Black;
// $secondaryColor:#DCDCDC;
// $secondaryColorShades:#DCDCDC,#D3D3D3,#C0C0C0;
// $logoColor:#FFCD28; 
// $textColor:white;

//grey theme
$primaryColor:Black;
$secondaryColor:#aec4ea;
$secondaryColorShades:#303a52,#4c5c82,#3a4662,#4c5c82,#272f42;
$logoColor:#E67E22;//  #FFCD28; 
$textColor:#aec4ea;


// nion theme
// $primaryColor:Black;
// $secondaryColor:#03e9f4;
// $secondaryColorShades:#303a52,#017479,#004549,#002E30,#335759,#194244;
// $logoColor:#FFCD28; 
// $textColor:#03e9f4;

// blue-white theme
// $primaryColor:#569ece;
// $secondaryColor:#1a305a;
// $secondaryColorShades:white,white;
// $logoColor:#FFCD28; 
// $textColor:#ffffff;