
// $primaryColor:Black;
// $secondaryColor:#DCDCDC;
// $secondaryColorShades:#DCDCDC,#D3D3D3,#C0C0C0;
// $logoColor:#FFCD28; 
// $textColor:white;


$primaryColor:Black;
$secondaryColor:#303a52;
$secondaryColorShades:#303a52,#4c5c82,#6f81ab,#3a4662,#4c5c82,#272f42;
$logoColor:#FFCD28; 
$textColor:#86a6df;
